@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');


body {
    background-color: white;
    
}

.pictures {
    width:100px;
    height:100px;
    margin: auto;
    position: absolute;
    top:80px; bottom:0px; right:1100px; left:0px;
    display: block;
    
}

.about{
    width:35%;
    height:300px;
    margin-left: 600px;
    margin-top: 70px;
    position: absolute;
    top:0px; bottom:200px; right:800px; left:0px;
    display: block;
    text-align: left;
}



.me{
    position: absolute;
    top:20px;
    bottom:300px;
    left: 120px;
    display: block;
}



.fade {
    position: absolute;
    top: 360px;
    bottom: 350px;
    left: 120px;
    z-index: 2;
    display: block;
}


.title1{
    display:block;
    color: black;
    font-size: 40pt;
    font-weight: bold;
    font-family: "Assistant", 'sans-serif';
}

.title2{
    display: block;
    margin-top: 20px;
    color: rgb(80, 91, 97);
    font-size: 12pt;
    font-family: serif;
}


a.button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    text-decoration: none;
    color: initial;

    margin: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 32px;
    border: 2px solid black;
    background-color: rgba(255,255,255,0);
    color: black;
    font-family: serif;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 12px;
    transition: background-color 500ms, color 500ms;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    vertical-align: middle;
}

a.button img {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    object-fit: contain;
    flex-shrink: 0;
    border: none;
    outline: none;
}

 a.button:hover {
    background-color: rgb(80, 91, 97);
    color: whitesmoke;
    cursor:pointer;
    transition: background-color 500ms, color 500ms;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .me {
        position: relative;
        left: auto;
        top: auto;
        bottom: auto;
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 20px auto;
    }

    .fade {
        display: none;
    }

    .about {
        position: relative;
        width: 90%;
        max-width: 600px;
        margin: 30px auto;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .title1 {
        font-size: 28pt;
        text-align: center;
    }

    .title2 {
        font-size: 11pt;
        text-align: center;
    }

    a.button {
        margin: 15px 10px;
    }

    footer {
        margin-top: 40px !important;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .me {
        max-width: 250px;
    }

    .about {
        width: 95%;
        padding: 15px;
        margin: 20px auto;
    }

    .title1 {
        font-size: 22pt;
    }

    .title2 {
        font-size: 10pt;
    }

    a.button {
        width: 60px;
        height: 28px;
        margin: 10px 5px;
    }

    a.button img {
        width: 16px;
    }
}

