.heading {
    width: 800px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    text-align: center;
}

.title1 {
    display: block;
    text-align: center;
    color: black;
    font-size: 43pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title2 {
    display: block;
    margin-top: 14px;
    text-align: center;
    color: rgb(80, 91, 97);
    font-size: 17pt;
    font-family: serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    line-height: 40px;

    margin: 30px auto;
    margin-bottom: -4px;
    display: inline-block;
    width: 125px;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
    transition: background-color 500ms, color 500ms, font-size 100ms;

    box-shadow: 0 0 .15em rgba(0, 0, 0, .25);
}

a.button:hover {
    font-size: 10.75pt;
    background-color: rgb(116, 130, 138);
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 500ms, color 500ms, font-size 300ms;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: #2d2d2d;
}

.bg {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    opacity: 1;
    background: linear-gradient(270deg, #2E8B57, #98FB98, #228B22, #6B8E23, #006400, #556B2F);
    background-size: 800% 800%;
    animation: animatedBackground 10s linear infinite;
}

@keyframes animatedBackground {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .50em;
    box-shadow: 0 0 .50em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 500ms, color 500ms, font-size 100ms;
}

h1 {
    font-family: monospace;
}

.Iam {
    padding: 2em 6em;
    font: normal 25px/31px Montserrat, sans-serif;
    color: black;
    margin-top: -60px;
    margin-bottom: 20px;
}

.Iam p {
    height: 30px;
    float: left;
    margin-right: 0.3em;
}

.Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 31px;
    top: 25px;
}

.Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

    /*animation*/
    -webkit-animation: move 5s;
    -moz-animation: move 5s;
    -ms-animation: move 5s;
    -o-animation: move 5s;
    animation: move 5s;

    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -31px;
    }
    40% {
        top: -62px;
    }
    60% {
        top: -93px;
    }
    80% {
        top: -124px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -31px;
    }
    40% {
        top: -62px;
    }
    60% {
        top: -93px;
    }
    80% {
        top: -124px;
    }
}

@-moz-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -31px;
    }
    40% {
        top: -62px;
    }
    60% {
        top: -93px;
    }
    80% {
        top: -124px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -31px;
    }
    40% {
        top: -62px;
    }
    60% {
        top: -93px;
    }
    80% {
        top: -124px;
    }
}
